<p id="notice"><%= notice %></p>

<h1>あいさつを投稿しよう</h1>
<p>現在のあいさつ数は<%= @greetings.count %>です。</p>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>メッセージ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @greetings.each do |greeting| %>
      <tr>
        <td><%= greeting.name %></td>
        <td><%= greeting.messeage %></td>
        <td><%= link_to '表示', greeting %></td>
        <td><%= link_to '編集', edit_greeting_path(greeting) %></td>
        <td><%= link_to '削除', greeting, method: :delete, data: { confirm: '削除してもいい?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規あいさつを作成', new_greeting_path %>
